/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Crimson+Text:wght@400;600;700&display=swap');

body {
  font-family: 'Crimson Text', serif;
  background-color: #fff;
  color: #333;
  margin: 0;
  padding: 0;
}
